.row>* {
  padding-right: 0;
  padding-left: 0;
}

.hero {
background-image: url(./images/artem-sapegin-DErxVSSQNdM-unsplash.jpg);
background-size: cover;
background-position: center bottom;
background-attachment: fixed;
height: 700px;
}

@media (max-width: 767px) {
  .hero {
    margin-top: -50px;
  }
}

.hero-container h3 {
font-size: 40px;
background: white;
text-align: center;
}

.hero-container p {
  font-size: 26px;
  background-color: white;
  text-align: center;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.about {
  height: 700px;
}

.aspectRatioBox {
  padding-top: calc(2 / 3.5 * 100%);
  background-position: center;
  background-size: cover;
}

.about p {
  padding-top: 90px;
  font-size: 18px;
  line-height: 2;
}

.about h2 {
  font-size: 26px;
}

.skills {
  text-align: center;
}

.inner {
  /* overlay the inner <div> exactly on top of its parent */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.inner h4 {
  /* copying behavior of official site */
  max-width: 200px;
}

.portfolio {
  background-color: #666;
  height: 600px;
}